# Copy to .env.remote and fill in your remote DB details.
# REMOTE_DB_HOST=102.210.149.119
# REMOTE_DB_PORT=5432
# REMOTE_DB_NAME=government_projects
# REMOTE_DB_USER=
# REMOTE_DB_PASSWORD=

REMOTE_DB_HOST=
REMOTE_DB_PORT=5432
REMOTE_DB_NAME=government_projects
REMOTE_DB_USER=
REMOTE_DB_PASSWORD=
